      <% content_for :admin_login do -%>
      <div class="title">
        <h3> Admin/Employee Login</h3>
      </div>  
      <div class="content forms" style="padding-top:20px">
          <%= form_tag('login/school',:multipart => true,:method => :post) do -%>
            <div class="field">
              <%= label_tag 'user_name' ,"User Name/Email" %>
              <%= text_field_tag 'user_name',nil,:class => "medium"  %>
            </div>
            <div class="field">
              <%= label_tag 'password' ,"Password" %>
              <%= password_field_tag 'password',nil,:class => "medium"  %>
            </div>
            <div class="actions">
              <%= submit_tag "Submit" ,:class => 'btn btn-large btn-primary'%>
            </div>
           
          <% end -%>
        
      </div>
      <% end -%>
       <% content_for :student_login do -%>
      <div class="title">
        <h3> Student Login</h3>
      </div>  
         
      <div class="content forms" style="padding-top:20px">
          <%= form_tag('login/student',:multipart => true,:method => :post) do -%>
            <div class="field">
              <%= label_tag 'user_name' ,"Student User Name" %>
              <%= text_field_tag 'user_name',nil,:class => "medium"  %>
            </div>
            <div class="field">
              <%= label_tag 'password' ,"Password" %>
              <%= password_field_tag 'password',nil,:class => "medium"  %>
            </div>
            <div class="actions">
              <%= submit_tag "Submit" ,:class => 'btn btn-large btn-primary'%>
            </div>
           
          <% end -%>
        
    </div>
       <% end -%>
