       <% if !flash[:error].nil? %>
          <%= render :template => "shared/display_message",:locals => {:message_type => 'ERROR',:message_content => flash[:error]} %>
       <% end %>
       <div class="content forms">
          <%= form_tag('/institute/create',:multipart => true,:method => :post) do -%>
            <div class="field">
              <%= label_tag 'institute_name' ,"Institute Name" %>
              <%= text_field_tag 'institute_name',nil,:class => "medium"  %>
            </div>
            <div class="field">
              <%= label_tag 'institute_url' ,"Choose URL" %>
              <%= text_field_tag 'institute_url',nil,:class => "medium"  %>
            </div>
            
            <div class="field">
              <%= label_tag 'first_name' ,"First Name" %>
              <%= text_field_tag 'first_name',nil,:class => "medium"  %>
            </div>
            <div class="field">
              <%= label_tag 'last_name' ,"Last Name" %>
              <%= text_field_tag 'last_name',nil,:class => "medium"  %>
            </div>
            <div class="field">
              <%= label_tag 'contact_email' ,"Contact Email" %>
              <%= text_field_tag 'contact_email',nil,:class => "medium"  %>
            </div>

            <div class="field">
              <%= label_tag 'password' ,"Password" %>
              <%= password_field_tag 'password',nil,:class => "medium"  %>
            </div>

            <div class="actions">
              <%= submit_tag "Submit" ,:class => 'btn btn-large btn-primary'%>
            </div>

          <% end -%>
       </div>
