
        <%= form_for(@fee_collection_event,:html =>{:class => 'form-vertical',:multipart => true},:url => 'create' ,:method => :post) do |f| %>
  <%= render :template => "shared/form-errors",:locals => {:form => @fee_collection_event} %>
         <fieldset> 
            <div class="control-group">
              <%= f.label 'Name' ,"Month/Quarter/Description" ,:class=>"control-label" %>
              <div class="controls">
              <%= f.text_field 'name' %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label 'Due Date' ,"Due Date" ,:class=>"control-label" %>
              <div class="controls">
              <%= f.text_field 'due_date',:class=> 'datepicker' %>
              </div>
            </div>
            
            <div class="form-actions">
              <%= f.submit "Submit" ,:class => 'btn btn-primary'%>
            </div>
          
         </fieldset> 
        <% end -%>
<script type="text/javascript"> 
  $(document).ready(function(){
    $( ".datepicker" ).datepicker({dateFormat:'dd-mm-yy'});
  });
</script>
