<div class="batches_index" style="padding-top:25px">
  
<table class="table">
  <thead>
    <th>Name</th>
    <th>Sections|Class Teacher</th>
  </thead>
  <tbody>
    <% for batch in batches -%>
     <tr>
     <td><%= link_to batch.name, '/batch/'+batch.id.to_s+'/show' %></td>
     <td>
      <div class="">
        <%= link_to_function "See Section Details", "toggle_sections(this)" ,:class=> 'btn'%>

        <div class="toggle-section" style="display:none;padding-top:10px">
          
        
        <table class="table table-striped">
          <% for section in batch.sections -%>
          <tr id='section_<%=section.id.to_s%>_row'>
          <td>
            <%=section.name %>
          </td>
          <td>
            <% teacher = get_teacher_for_section(section)%>
            <div id="section_<%=section.id%>">
            <% if !teacher.nil? %>
              
              <%=teacher.print_name%>
            <% else %>
              Not Assigned
            <% end %>
            </div>

                      <%=collection_select(:teacher,:teacher_id,@institute.teachers,:id,:print_name,{:prompt => 'Select a Teacher'},{:onchange => "update_teacher(this,"+section.id.to_s+")"})%>

          </td>
          <td>
            <%= link_to_function image_tag('delete.png',:height => '16',:width => '16'), "delete_section(this," + section.id.to_s+ ")" %>
          <td>

          </tr>

            
          <% end -%>

        </table>

        <%= link_to "Add more sections", '/batch/'+batch.id.to_s+'/edit',:class=> 'btn btn-primary' %>

        </div>
      </div>
     </td>
     </tr>
    <% end -%>
  </tbody>
</table>
</div>

<script type="text/javascript">
function toggle_sections(obj) {
  $(".toggle-section").toggle(false);
  $(obj).parent().find(".toggle-section").toggle(true);
}

function delete_section(obj,section_id) {
  if(confirm('Are you sure you want to delete this section ?')) {
  


  $.read(
    '/ajax/delete/section/{id}',
    {id:section_id},
    function() {
      $('#section_'+section_id+'_row').remove();
      
    },
    function() {
      alert('Errored');
    }

  );

  }
}
  
</script>
