<%= render :template => 'shared/sidepic' %>
<% content_for :left_column do -%>
  
            <div class="leftcolumn">
              <div class="rowline-active">
                <img src="<%= asset_path 'ccihome.png' %>" class="thumbpic-small">  Dashboard
              </div>
              <div class="rowline">
                <img src="<%= asset_path 'cciuser-group.png' %>" class="thumbpic-small">  Students
              </div>
              <div class="rowline">
                <img src="<%= asset_path 'cciuser-green.png' %>" class="thumbpic-small">  Teachers
              </div>
              <div class="rowline">
                <img src="<%= asset_path 'cciuser-orange.png' %>" class="thumbpic-small">  Admins
              </div>
              <div class="rowline">
                <img src="<%= asset_path 'ccipaste.png' %>" class="thumbpic-small">  Classes
              </div>
              <div class="rowline">
                <img src="<%= asset_path 'ccistats.png' %>" class="thumbpic-small">  Performance
              </div>
              <div class="rowline">
                <img src="<%= asset_path 'ccicontact.png' %>" class="thumbpic-small">  Attendance
              </div>
              <div class="rowline">
                <img src="<%= asset_path 'cciphoto-album.png' %>" class="thumbpic-small">  Grading
              </div>
              <div class="rowline">
                <img src="<%= asset_path 'cciprint.png' %>" class="thumbpic-small">  Print Reports
              </div>
              <div class="rowline">
                <img src="<%= asset_path 'ccilight-bulb.png' %>" class="thumbpic-small">  Help
              </div>
            </div>
<% end -%>
