

            <div id="<%=id%>" title="<%= title %>" style="padding:10px">
                <h2> <%= title %></h2>
                <div class="validateTips"> </div>
                <div class="loading-image" style="display:none">
                  <img src="<%=asset_path "ajax-loader.gif"%>"/>
                </div>

                <fieldset>
                <div class="control-group">
                  <label class="control-label" for="title">UserId/EmailId</label>
                  <div class="controls">
                    <input type="text" name="userid" id="modal-userid-<%=id%>" class="input-xlarge" />
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="description">Password</label>
                  <div class="controls">
                    <input type="password" name="userid" id="modal-password-<%=id%>" class="input-xlarge" />
                  </div>
                </div>
                <div class="form-actions">
                   <button type="submit" class="btn btn-primary" id="<%=id%>-button">Login</button>
                   <button class="btn">Cancel</button>
                 </div>
                </fieldset>
            </div>
            <script type="text/javascript">
  $(function() {
   $(".login").colorbox({ inline:true, 
                          width:"400px",
                          height:"400px",
                          top:"200px",
                          onOpen:function(){ $('.validateTips').text(''); }  
                          });
    });
  $("#<%=id%>-button").click(function(){
            $(".loading-image").show();
            $('.validateTips').text('Logging in');
            var username = $("#modal-userid-<%=id%>");
            var pass = $("#modal-password-<%=id%>");
            var login_success = login_user('<%=id%>',username.val(),pass.val());
});
            </script>

