
  <%= render :template => 'shared/left_column' ,:locals => {:active => 'classes'}%>
   <% content_for :breadcrumb do -%>
       <a href="/classes">Classes</a> <span class="divider">/</span>
       <a href="<%='/batch/'+@batch.id.to_s+'/show'%>"><%=@batch.name%></a> <span class="divider">/</span>
   <% end -%>
  <%= render :template => "shared/top_bar_new" %>
<% content_for :main_content do -%>
      
       <div class="container">
        <div class="row">
          <div class="span3">
            <div class="btn-group">
            <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Edit Class
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/batch/<%=@batch.id%>/edit">Add a Section</a></li>
              <li class="divider"></li>
            </ul>
          </div>
            
          </div>
          <div class="span3">
          </div>

          <div class="span4">
            </br>
          </div>
          
        </div>
         
       </div>
      
      
      <div class="title" style = "padding-top:25px">
        <h2> <%=@batch.name%></h2>
      </div>
      
       <table class="table striped">
        <thead>
          <tr>
            <th> Section</th>
            <th> Class Teacher</th>
            <th> Assign Teacher</th>

          </tr>
          <tbody>
           <% for section in @batch.sections -%>
             
            <tr>
                <td><%= link_to "Secton " + section.name, '/section/'+section.id.to_s+'/show' %></td>
                <% teacher = get_teacher_for_section(section)%>
                <% if teacher.nil? %>
                  <td> Not Assigned</td>
                <% else %>
                  <td> <%= teacher.print_name %></td>
                <% end %>
                <td><%=collection_select(:teacher,:teacher_id,@institute.teachers,:id,:fullname,{:prompt => 'Select a Teacher'},{:onchange => "update_teacher(this,"+section.id.to_s+")"})%>
                </td>
            </tr>
           <% end -%>
          </tbody>
        </thead>
       </table>

       <script type="text/javascript">
        function update_teacher(obj,sec_id) {
          $.update(
            '/section/{section_id}/update_teacher/{teacher_id}',
            {section_id:sec_id,teacher_id:obj.options[obj.selectedIndex].value},
            function(response) {
              window.location.reload(true);
            }
          );
        }
       </script>

  
<% end -%>
