<% content_for :left_bar do -%>
  <%= render 'left_bar' %>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar' %>
<% end -%>

<% content_for :main_content do -%>
      <div class="title">
        <h2> Create new class/batch and sections </h2>
      </div>
        <%= nested_form_for(@batch,:html =>{:class => 'form-horizontal',:multipart => true},:url => 'create' ,:method => :post) do |f| %>
  <%= render :template => "shared/form-errors",:locals => {:form => @batch} %>
         <fieldset> 
            <div class="control-group">
              <%= f.label 'Class Name' ,"Class Name" ,:class=>"control-label" %>
              <div class="controls">
              <%= f.text_field 'name' %>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">

            <%= f.fields_for :sections do |builder| -%>
              <%= render 'section_fields',:f=>builder %>
            <% end -%>
              <p><%= f.link_to_add "Add a section", :sections,:class=>"btn btn-primary" %></p>
              </div>
            </div>
            
            <div class="form-actions">
              <%= f.submit "Submit" ,:class => 'btn btn-primary'%>
            </div>
          
         </fieldset> 
        <% end -%>
<% end -%>
