<% content_for :left_bar do -%>
  <%= render 'left_bar' %>
<% end -%>
<% content_for :top_bar do -%>
  <%= render :template => "shared/top_bar" %>
<% end -%>
<% content_for :right_bar do -%>
  <%= render 'right_bar' %>
<% end -%>
<% content_for :main_content do -%>
      <div class="title">
        <table class='table'>
          <h3>  Please select an exam from the list or create a new one for <%= @section.batch.name + "-" +  @section.name %> </h3>
        </table>
      </div>
      
       <table class="table striped">
        <thead>
          <tr>
            <th> Exam Name</th>
            <th> Starts At</th>
            <th> Ends At</th>
            <th> Add Results</th>

          </tr>
          <tbody>
          <% for exam in @section.exams -%>
            <tr>
            <td> <%= exam.name %> </td>
            <td> <%= exam.start %></td>
            <td> <%= exam.end %> </td>
            <td><%= link_to "Upload Results", "/section/"+@section.id.to_s+'/exams/'+ exam.id.to_s + '/subjects' ,:class=> 'btn btn-primary'%></td>
            </tr>
          <% end -%>
          </tbody>
        </thead>
       </table>
      
      <div class="title">
        <table class='table'>
          <h3>  Create new exam for <%= @section.batch.name + "-" +  @section.name %> </h3>
        </table>
      </div>
        <%= form_for(@exam,:html =>{:class => 'form-horizontal',:multipart => true},:url => 'create_exam' ,:method => :post) do |f| %>
         <fieldset> 
         <%= render :template => 'shared/notices' %>
  <%= render :template => "shared/form-errors",:locals => {:form => @exam} %>
            <div class="control-group">
              <%= f.label 'Exam Name/Type' ,"Exam Name/Type" ,:class=>"control-label" %>
              <div class="controls">
              <%= f.text_field 'name' %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label 'Starts At' ,"Starts At" ,:class=>"control-label" %>
              <div class="controls">
              <%= f.text_field 'start',:class => 'datepicker' %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label 'Ends At' ,"Ends At" ,:class=>"control-label" %>
              <div class="controls">
              <%= f.text_field 'end',:class=> 'datepicker' %>
              </div>
            </div>
           
            <div class="form-actions">
              <%= f.submit "Submit" ,:class => 'btn btn-primary'%>
            </div>
         </fieldset> 
          
      <% end -%>



  
<% end -%>
