  <%= render :template => 'shared/left_column' ,:locals => {:active => 'dashboard'}%>
  <%= render :template => "shared/top_bar_new" %>
   <% content_for :breadcrumb do -%>
       <a href="/sessions">Institute Sessions</a> <span class="divider">/</span>
   <% end -%>
<% content_for :main_content do -%>
      <div class="title">
        <h2> Create new Session for the institute</h2>
      </div>
      <div class="content forms">
  <%= render :template => "shared/form-errors",:locals => {:form => @institute_session} %>
        <%= form_for(@institute_session,:html =>{:class => 'form-horizontal',:multipart => true},:url => 'create' ,:method => :post) do |f| %>
          <fieldset>
            <div class="control-group">
              <%= f.label 'Session Starts' ,"Session Starts" ,:class=>"control-label" %>
              <div class="controls">
              <%= f.text_field 'start',:class => "datepicker"  %> (Please select a date)
              </div>
            </div>
            <div class="control-group">
              <%= f.label 'Session Ends' ,"Session End",:class=>"control-label" %>
              <div class="controls">
              <%= f.text_field 'end',:class => "datepicker"  %> (Please select a date)
              </div>
            </div>
            <div class="control-group">
              <%= f.label 'current' ,"Make this the current session" %>
              <div class="controls">
              <%= f.check_box 'current' %>
              </div>
            </div>
            
            <div class="form-actions">
              <%= f.submit "Submit" ,:class => 'btn btn-primary'%>
            </div>
          </fieldset>
           
        <% end -%>
        
      </div>

  
<% end -%>
