<body>
	<!--wrapper starts -->
	<div class="wrapper">
		<!--top section starts -->
		<div class="topWrapper">
			   <div class="topSec">
				<div class="topLeft">
					<a href="/" class="homelogo" title="cloudclass"><img src=<%= asset_path "home-logo.jpg" %> alt="cloudclass" /></a> 
				</div>
				<div class="topRight">
					<ul class="topHomeLinks">
						<li><a href="/contact" title="Contact">Contact</a></li>
						<li><a href="/about" title="About">About</a></li>
						<li><a href="/" title="Home">Home</a></li>
					</ul>
					<div class="spacer"></div>
				</div>
				<div class="spacer"></div>
			</div>
		</div>
		<!--top section ends -->
		<!--body content wrapper starts -->
		<div class="mainWrapper">
			<!--body content starts -->
			<div class="bodyWrapper" style="min-height:600px;">
				   <div class="bodyPlaceholder">
           <h1><b>About us</b></h1>
           <p align= "justify" style="font-size:18px">
            CloudClass is an online campus for all forms of educational institutions viz., schools, colleges and universities. At CloudClass we address the issues of Administration, Parents, Teachers and Students on an integrated platform.  It combines essential tools like grade books, attendance, calendars supported by a good communication system.  Management can cut down on stationery and operational expenses. Teachers can spend less time on paper work and more time on teaching. Parents can keep in regular track of student’s progress.  All the data is securely stored online. So people can access data from anywhere anytime. 
           </p>
           <div style="padding-top:25px">
             
           </div>
           <p align= "justify" style="font-size:18px">
            Institutions who have subscribed to our product have seen : </p>
           <div style="padding-top:15px">
           </div>
            <ul style="font-size:18px;padding-left:25px;list-style-type:square">
              <li>20% rise in admission strength</li>
              <li>80% of the parents have acknowledged the schools for their novel initiative</li>
              <li>Conversion ratio of admissions input has improved over 50%.</li>
            </ul>
           <div style="padding-top:25px">
             
           </div>
           <p align= "justify" style="font-size:18px">
              If you are an institution trying to make experience of learning better you are looking for the right product. Please click here to contact us
             </p>
            <div style="padding:25px"> 
            <%= link_to "Contact Us" ,'/contact' ,:class => 'btn btn-large'%>    
            </div>


          </br>

					<div class="spacer"></div>
				</div>
			</div>
			<!--body content ends -->
		</div>
		<!--body content wrapper ends -->
		<!--footer starts -->
		<div class="footerWrapper">
			<div class="fotoerTop">
			    <div class="fixwrap"> 
				  <div class="fotoerTopContaienr">
				
					<div class="footerLeft">
						<h6>Company</h6>
            <%= render :template => "shared/footer-link" %>
					</div>
					<div class="footerMiddle">
						<h6>Follow Us</h6>
						<div class="footerSocialLink">
							<a href="https://twitter.com/#!/cloudclasshq" target="_blank"><img src=<%= asset_path "footer-twitter.jpg" %> alt="twitter" /></a>
							<a href="https://plus.google.com/104492345380250356346" target="_blank"><img src=<%= asset_path "footer-google+.jpg" %> alt="google+" /></a>
							<a href="https://www.facebook.com/pages/CloudClass/120111348114938" target="_blank"><img src=<%= asset_path "footer-facebook.jpg" %> alt="facebook" /></a>
							<a href="mailto:gauravt@cloudclasshq.com" target="_blank"><img src=<%= asset_path "footer-cont.jpg" %> alt="contact" class="noRghtMargin" /></a>
						</div>
						<h6 class="small">Stay Informed</h6>
						<div class="footerMsgField">
							<label><input name="" type="text" value="your email" onFocus="if(this.value=='your message')this.value='';" onBlur="if(this.value=='')this.value='your message';"  /></label>
							<input name="" type="button" class="goBtn" />
						</div>
					</div>
					<div class="footerRight">
						<h2>Try Our Online Demo Now</h2>
						<p class="footertrytheBtn"><a href="/demo" title="Try the Demo">Try the Demo</a></p>
					</div>
					
				
				</div>
				</div>
			</div>
			<div class="footerBtm"><p>&copy; Cloudclass 2012. All Rights Reserved.</p></div>
		</div>
		<!--footer ends -->
	</div>
	<!--wrapper ends -->
</body>
