<body>
	<!--wrapper starts -->
	<div class="wrapper">
		<!--top section starts -->
		<div class="topWrapper">
			   <div class="topSec">
				<div class="topLeft">
					<a href="/" class="homelogo" title="cloudclass"><img src=<%= asset_path "home-logo.jpg" %> alt="cloudclass" /></a> 
				</div>
				<div class="topRight">
					<ul class="topHomeLinks">
						<li><a href="/contact" title="Contact">Contact</a></li>
						<li><a href="/about" title="About">About</a></li>
						<li><a href="/" title="Home">Home</a></li>
					</ul>
					<div class="spacer"></div>
				</div>
				<div class="spacer"></div>
			</div>
		</div>
		<!--top section ends -->
		<!--body content wrapper starts -->
		<div class="mainWrapper">
			<!--body content starts -->
			<div class="bodyWrapper" style="min-height:600px;">
				   <div class="bodyPlaceholder">
           <h1><b>Contact us</b></h1>
           <p align= "justify" style="font-size:18px">
           We @ cloud class are genuinely intrigued by the pain that administration and faculty take in doing the same operational tasks over and over.  Our dream is to solve them algorithmically and keep the prima focus on content and quality education transfer with a well built communication system. We believe that we can make the experience of learning a lot better with your support. 
           </p>
           <div style="padding-top:25px">
             
           </div>
           <p align= "justify" style="font-size:18px">
            If you are an educational institute looking forward to improve the experience of your students and parents you are looking at the right product. The product is very much affordable for small and big institutions and we are running on a “Pay as you use” model.  Please fill the form below and request for the demo. 
            </p>
           <div style="padding-top:25px">
           </div>
           <p align= "justify" style="font-size:18px">
              Request for demo.
             </p>
            <div style="padding:25px"> 
             <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFQ2ay1Mby1DYWxGMERyeFhtMFRGQ1E6MQ" width="100%" height="450px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>


          </br>

					<div class="spacer"></div>
				</div>
			</div>
			<!--body content ends -->
		</div>
		<!--body content wrapper ends -->
		<!--footer starts -->
		<div class="footerWrapper">
			<div class="fotoerTop">
			    <div class="fixwrap"> 
				  <div class="fotoerTopContaienr">
				
					<div class="footerLeft">
						<h6>Company</h6>
            <%= render :template => "shared/footer-link" %>
					</div>
					<div class="footerMiddle">
						<h6>Follow Us</h6>
						<div class="footerSocialLink">
							<a href="https://twitter.com/#!/cloudclasshq" target="_blank"><img src=<%= asset_path "footer-twitter.jpg" %> alt="twitter" /></a>
							<a href="https://plus.google.com/104492345380250356346" target="_blank"><img src=<%= asset_path "footer-google+.jpg" %> alt="google+" /></a>
							<a href="https://www.facebook.com/pages/CloudClass/120111348114938" target="_blank"><img src=<%= asset_path "footer-facebook.jpg" %> alt="facebook" /></a>
							<a href="mailto:gauravt@cloudclasshq.com" target="_blank"><img src=<%= asset_path "footer-cont.jpg" %> alt="contact" class="noRghtMargin" /></a>
						</div>
						<h6 class="small">Stay Informed</h6>
						<div class="footerMsgField">
							<label><input name="" type="text" value="your email" onFocus="if(this.value=='your message')this.value='';" onBlur="if(this.value=='')this.value='your message';"  /></label>
							<input name="" type="button" class="goBtn" />
						</div>
					</div>
					<div class="footerRight">
						<h2>Try Our Online Demo Now</h2>
						<p class="footertrytheBtn"><a href="/demo" title="Try the Demo">Try the Demo</a></p>
					</div>
					
				
				</div>
				</div>
			</div>
			<div class="footerBtm"><p>&copy; Cloudclass 2012. All Rights Reserved.</p></div>
		</div>
		<!--footer ends -->
	</div>
	<!--wrapper ends -->
</body>
