  <%= render :template => "shared/top_bar_new" %>
  <%= render :template => 'shared/left_column_section' ,:locals => {:active => 'attendance',:section => @section}%>
   <% content_for :breadcrumb do -%>
       <a href="/batch/<%=@section.batch.id.to_s+'/show'%>"><%=@section.batch.name%></a> <span class="divider">/</span>
       <a href="/section/<%=@section.id.to_s+'/show'%>"><%=@section.name%></a> <span class="divider">/</span>
       <a href="/section/<%=@section.id.to_s+'/show'%>"><%=@section.name%></a> <span class="divider">/</span>
   <% end -%>
<% content_for :main_content do -%>
  <h3>
    <%= link_to "Mark Today's attendance", '/section/' + @section.id.to_s + '/mark_attendance/' + Date.today.to_s %>
  </h3>
  <div id='calendar'></div>
  <script type="text/javascript">
$(document).ready(drawCalendar);
function drawCalendar() {
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
	$('#calendar').fullCalendar({
		editable: true,        
        defaultView: 'month',
        slotMinutes: 15,
        
        loading: function(bool){
            if (bool) 
                $('#loading').show();
            else 
                $('#loading').hide();
        },
        
        timeFormat: 'h:mm t{ - h:mm t} ',
        dragOpacity: "0.5",
        
        dayClick: function(date, allDay, jsEvent, view) {
          window.open('/section/<%=@section.id%>/mark_attendance/'+date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate());
          return false;

        }


	});
}

  </script>
<% end -%>
