
  <%= render :template => "shared/top_bar_new" %>
  <%= render :template => 'shared/left_column_section' ,:locals => {:active => 'attendance',:section => @section}%>
   <% content_for :breadcrumb do -%>
       <a href="/batch/<%=@section.batch.id.to_s+'/show'%>"><%=@section.batch.name%></a> <span class="divider">/</span>
       <a href="/section/<%=@section.id.to_s+'/show'%>"><%=@section.name%></a> <span class="divider">/</span>
       <a href="/section/<%=@section.id.to_s+'/exams/'+@exam.id.to_s+'/subjects'%>"><%=@exam.name%></a> <span class="divider">/</span>
       <% end -%>
<% content_for :main_content do -%>
      <div class="title">
        <table class='table'>
          <h3>  Please select a subject to see/change results for <%= @section.batch.name + "-" +  @section.name %> </h3>
        </table>
      </div>


      <% if  @section.batch.courses.size == 0 %>
        There are no subject currently added for this class. Please add subjects.
        <%= link_to "Add subjects", '/section/'+@section.id.to_s+'/subjects/new' ,:class=> 'btn btn-medium btn-primary' %>
      <% else %>
      
       <table class="table striped">
        <thead>
          <tr>
            <th> Subject</th>
            <th> Add/Edit Results</th>

          </tr>
          <tbody>
          <% for subject in @section.batch.courses -%>
            <tr>
            <td> <%= subject.name %></td>
            <td><%= link_to "Results", "/section/"+@section.id.to_s+'/exams/'+ @exam.id.to_s + '/subjects/' + subject.id.to_s + '/show' ,:class=> 'btn btn-primary'%></td>
            </tr>
          <% end -%>
          </tbody>
        </thead>
       </table>
      <% end %>

  
<% end -%>
