  <%= render :template => "shared/top_bar_new" %>
  <%= render :template => 'shared/left_column_section' ,:locals => {:active => 'attendance',:section => @section}%>
   <% content_for :breadcrumb do -%>
       <a href="/batch/<%=@section.batch.id.to_s+'/show'%>"><%=@section.batch.name%></a> <span class="divider">/</span>
       <a href="/section/<%=@section.id.to_s+'/show'%>"><%=@section.name%></a> <span class="divider">/</span>
       <a href="/section/<%=@section.id.to_s+'/attendance'%>">Attendance</a> <span class="divider">/</span>
   <% end -%>
<% content_for :main_content do -%>
  
       <div class="container">
        <div class="row">
          <div class="span3">
            <div class="btn-group">
            <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Reports Options
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/section/<%=@section.id.to_s%>/reports/attendance/<%=params[:date]%>">Send Report to Parents</a></li>
              <li><a href="/section/<%=@section.id.to_s%>/exams/new">Print Attendance Report</a></li>
              <li class="divider"></li>
            </ul>
          </div>
            
          </div>
          <div class="span3">
          </div>

          <div class="span4">
            </br>
          </div>
          
        </div>
         
       </div>
  
  <h3 style="padding-top:25px"> Attendance for <%= @section.batch.name + '-' + @section.name + ' for ' + @date.strftime("%B %d, %Y")%></h3>
  <% if  !flash[:notice].nil?%>
     <div class="alert alert-success">
      <a class="close">×</a>
        <font color="black">
        Attendance updated 
        <%= link_to "Send SMS report to parents", '/section/'+@section.id.to_s+'/reports/attendance/'+params[:date],:class => 'btn btn-primary' %>
        </font>
      </div>
  <% end -%>

  <%= form_tag(params[:date] + '/update',:method => :post) do -%>
      <table class="table table-bordered">
         <thead>
          <tr>
            <th>Student Name</th>
            <th>Check if present</th>
          </tr> 
         </thead>
         <tbody>
    <% for student in @section.students -%>
        <% present = is_student_present(student.id,@section.id,params[:date])%>
          <% if  present%>
            <% bgcolor = '#D6E9C6'%>
          <% else %>
            <% bgcolor = '#F2DEDE'%>
          <% end %>
            <tr id="student_<%=student.id.to_s%>"style="background-color:<%=bgcolor%>" onclick="toggle_attendance(this);">
            <td><%= student.print_name%></td>   
            <td>
            <% if  present%>
              <%=check_box_tag student.id ,student.id,true,:style => 'display:none' %>
              
            <% else %>
              <%=check_box_tag student.id,student.id,false,:style => 'display:none'%>
            <% end %>
            <% if present %>
              <%= image_tag('checked.jpg',:height => '24',:width => '24',:class => 'checked') %>
              <%= image_tag('unchecked.jpg',:height => '24',:width => '24',:class => 'unchecked' ,:style => 'display:none') %>
            <%else%>   
              <%= image_tag('checked.jpg',:height => '24',:width => '24',:class => 'checked' ,:style => 'display:none') %>
              <%= image_tag('unchecked.jpg',:height => '24',:width => '24',:class => 'unchecked') %>
            <% end %>
            </td>
          </tr> 
    <% end -%>   
         </tbody>
       </table>
  <div class="actions">
    <%= submit_tag nil,:class => 'btn  btn-primary'%>
  </div>
  <% end -%>
<script type="text/javascript">
  function toggle_attendance(obj) {
    var $checkbox = $(obj).find(':checkbox');
    if($checkbox.attr('checked')) {
      $(obj).attr('style','background-color:#F2DEDE');
      $(obj).find('.unchecked').attr('style','display:visible');
      $(obj).find('.checked').attr('style','display:none');
    } else {
      $(obj).attr('style','background-color:#D6E9C6');
      $(obj).find('.unchecked').attr('style','display:none');
      $(obj).find('.checked').attr('style','display:visible');
    }

    $checkbox.attr('checked', !$checkbox.attr('checked'));
  }
</script>
  
<% end -%>
