
      <div class="title">
        <h3> Attendance Report for <%=@student.print_name%></h3>
      </div>

                        <%report = get_attendance_report(@student,get_current_session)%>
                        <% if !report.nil? && report.size > 0 %>
                         <table class="table table-bordered table-striped">
                          <thead>
                            <th> Month </th>
                            <th> Percentage  </th>
                            <th> Total </th>
                          </thead>
                          <tbody>
                                <%report.keys.each do |month|%> 
          
                                   <tr>
                                    <td><%=month%></td>
                                    <td>
                                    <div class="progress">
                                      <div class="bar" style="width: <%=(report[month][:present] *100)/(report[month][:present]+report[month][:absent])%>%;"></div>
                                    </div>
                                    </td>
                                  <td>
                                    <%= report[month][:present] %> / <%= report[month][:present]+report[month][:absent]%>
                                  </td>
            
                                  </tr>
                              <% end -%>

                          </tbody>

                         </table>
                          
                        <% else %>
                          No Data Available.
                        <% end %>


  <div id='calendar'></div>

  <script type="text/javascript">
  $(document).ready(drawCalendar);

function drawCalendar() {
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();
  
	
	$('#calendar').fullCalendar({
		editable: true,        
        defaultView: 'month',
        height: 250,
        slotMinutes: 15,
        
        loading: function(bool){
            if (bool) 
                $('#loading').show();
            else 
                $('#loading').hide();
        },
        
        // a future calendar might have many sources.        
        eventSources: [{
            url: '/ajax/attendance_report/student/<%=@student.id.to_s%>',
            color: 'yellow',
            textColor: 'black',
            ignoreTimezone: false
        }],
        
        timeFormat: 'h:mm t{ - h:mm t} ',
        dragOpacity: "0.5",
        
        //http://arshaw.com/fullcalendar/docs/event_ui/eventDrop/
        eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
            updateEvent(event);
        },

        // http://arshaw.com/fullcalendar/docs/event_ui/eventResize/
        eventResize: function(event, dayDelta, minuteDelta, revertFunc){
            updateEvent(event);
        },

        // http://arshaw.com/fullcalendar/docs/mouse/eventClick/
        eventClick: function(event, jsEvent, view){
          //alert('clicked on event'); TODO add update/delete functionality here
          window.open('/calendar/events/'+event.id+'/edit');
          return false;
        },
        dayClick: function(date, allDay, jsEvent, view) {

        if (allDay) {
        }


    },
	});
}

    
  </script>
