<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= wicked_pdf_stylesheet_link_tag "print" %>


    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .border {
          border-bottom: 3px solid #9C9898;
      }
      .margin50 {
        padding:50px; 
      }
      .pdtop50 {
        padding-top:50px;
      }
      .pdleft25 {
        padding-left:25px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="container border">
    <center>
    <!--
    <img src="./school_logo.png" />
    --!>


    <h1> <%= @institute.structure_info.name %> </h1>
    <h2> <%= @institute.structure_info.address %> </h2>
    </center>

    </div> <!-- /container -->

    <div class="container border">
      <div class="row">
        <div class="span3">
            <% if @student.profile.nil?  %>
              <img src="<%= asset_path get_profile_pic_for_user(@student) %>" class="margin50">
            <% else %>
              <img src="<%= @student.profile.image.url %>" class="margin50">
            <% end %>
        </div>
        <div class="span9">
          <div class="student_description pdtop50">
            <h1 style="color:#3F7FBF"> <%= @student.print_name %></h1>
            <h2> Student of <%=@student.section.batch.name%>, Section <%= @student.section.name %></h2>
          </div>
          <table class="table bordered">
            <tbody>
            <tr>
             <td>
              <h2>Class Rank</h2>
             <td>
             <td>
              <h2><b>11</b></h2>
             <td>
            </tr>
            <tr>
             <td>
              <h2>Agggregate Percentage</h2>
             <td>
             <td>
              <h2><b>89.2%</b></h2>
             <td>
            </tr>
            <tr>
             <td>
              <h2>Class Teacher</h2>
             <td>
             <td>
                <% teacher = get_teacher_for_section(@student.section)%>
                <% if teacher.nil? %>
                <h2> Not Assigned </h2>
                <% else %>
                <h2> <%= teacher.print_name %></h2>
                <% end %>
             <td>
            </tr>
            </tbody>
          </table>
          
        </div>
        
      </div>
      
    </div>

    <div class="container pdtop50">
     <h1 style="color:#3F7FBF"> Exam Results </h1>

     <%=render 'exam_results'%>

    </div>

     <%=render 'attendance_results'%>
    

  </body>
</html>
