            <div class="dashboard-reports">
            <div class="container">
              <div class="row">
                <div class="span5">
                  <%=render :template => 'reports/student_details'%>
                </div>

                <div class="span5">
                  <%=render :template => 'reports/parent_details'%>
                </div>
                  
                </div>
                
              </div>
              
            </div>


            <div class="dashboard-reports">
            <div class="container">
              <div class="row">
                <div class="span5">
                  <%=render :template => 'reports/address_details'%>
                </div>

                <div class="span5">
                  <%=render :template => 'reports/personal_details'%>
                </div>
                  
                </div>
                
              </div>
              
            </div>
            

            <div class="dashboard-reports">
            <div class="container">
              <div class="row">
                <div class="span5">
                  <%=render :template => 'reports/attendance_details'%>
                </div>

                <div class="span5">
                  <%=render :template => 'reports/fees_details'%>
                </div>
                  
                </div>
                
              </div>
              
            </div>
            


