  <%= render :template => 'shared/left_column_profile' ,:locals => {:active => 'edit_details'}%>
   <% content_for :breadcrumb do -%>
       <a href="/classes">Student Profile</a> <span class="divider">/</span>
   <% end -%>

  <%= render :template => "shared/top_bar_new" %>

<% content_for :main_content do -%>
      <div class="title">
        <h2> Edit Password</h2>
      </div>
    <%= form_tag('update_password',:method => :post,:class => 'form-horizontal') do -%>
          <%=render :template => 'shared/notices'%>
          <fieldset>

            <div class="control-group">
              <%= label_tag 'New Password' ,"New Password" ,:class=>"control-label" %>
              <div class="controls">
              <%= password_field_tag 'password'%>
              </div>
            </div>
            <div class="control-group">
              <%= label_tag 'Confirm Password' ,"Confirm Password" ,:class=>"control-label" %>
              <div class="controls">
              <%= password_field_tag 'confirm_password'%>
              </div>
            </div>
            
            <div class="form-actions">
              <%= submit_tag "Submit" ,:class => 'btn btn-primary'%>
            </div>

          </fieldset>
      
    <% end -%>

<% end -%>
