
                  <div class="reporting-box">
                    <div class="title">
                      School Statistics
                    </div>
                    <div class="report-content">
                      <div class="report-numbers">
                        <div class="rowline">
                          <div class="row">
                            <div class="span3">
                              <img src="<%= asset_path 'cciuser-group.png' %>" class="thumbpic-20"> Students
                            </div>
                            <div class="span1 bold" align="right">
                               <%= Institute.find_by_id(get_institute_id).students.size%> 
                            </div>
                          </div>
                          
                        </div>
                        <div class="rowline">
                          <div class="row">
                            <div class="span3">
                              <img src="<%= asset_path 'cciuser-green.png' %>" class="thumbpic-20"> Teachers
                            </div>
                            <div class="span1 bold" align="right">
                               <%= Institute.find_by_id(get_institute_id).teachers.size%> 
                            </div>
                          </div>
                        </div>
                        <div class="rowline">
                          <div class="row">
                            <div class="span3">
                              <img src="<%= asset_path 'ccipaste.png' %>" class="thumbpic-20"> Classes
                            </div>
                            <div class="span1 bold" align="right">
                               <%= Institute.find_by_id(get_institute_id).batches.size%> 
                            </div>
                          </div>
                        </div>
                        <div class="rowline">
                          <div class="row">
                            <div class="span3">
                              <img src="<%= asset_path 'ccipaste.png' %>" class="thumbpic-20"> Sections
                            </div>
                            <div class="span1 bold" align="right">
                            <%section_count = 0%>
                            <% for batch  in Institute.find_by_id(get_institute_id).batches -%>
                              <%section_count +=  batch.sections.size %>
                            <% end -%>
                               <%= section_count %> 
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
