<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CloudClass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag "login" %>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  <%= javascript_include_tag "application" %>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= csrf_meta_tag %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src="<%= asset_path 'cloudclass-logo.png' %>" /></a>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="main">
       <div class="container" style="padding-top:30px">
        <div class="row">
          <div class="span2">
            </br>
          </div>
          <div class="span4">
            <%= yield :admin_login %>  
          </div>
          <div class="span4">
            <%=yield :student_login %>
          </div>
          <div class="span2">
            </br>            
          </div>

          
        </div>
         
       </div>


       <div class="container" style="padding-top:15px">
        <div class="row">
          <div class="span2">
            </br>
          </div>
          <div class="span4">
            <%=yield :teacher_login %>
          </div>
          <div class="span4">
            <%=yield :parent_login %>
          </div>
          <div class="span2">
            </br>            
          </div>

          
        </div>
         
       </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
      <script type='text/javascript'>
      function launch_login_dialog(object_id) {
        $( "#"+object_id ).dialog( "open" );
        
      }
      function login_user(user_type,userid,pass) {
        //TODO clean input before using
        $.read(
        '/ajax_login/{user_type}/{user_name}/{password}',
        {user_type:user_type,user_name:userid,password:pass},
        function(response) {
        window.location.href = 'home'  
        },
        function(response) {
          $('.validateTips').text('Unable to Login. Please check username password and try again');
          $('.loading-image').hide();

        }
        );
        
      }
      </script>
